
@use "inter-ui/default" with (
  $inter-font-display: swap,
  $inter-font-path: 'inter-ui/web'
);

@use "inter-ui/variable" with (
  $inter-font-display: swap,
  $inter-font-path: 'inter-ui/variable'
);

@import "variables";

@include default.all;
@include variable.all;

:root {
  font-family: "Inter", system-ui;
  font-feature-settings: "ss02", "cv01", "cv10";
}

@supports (font-variation-settings: normal) {
  :root { font-family: "InterVariable", system-ui; }
}

/* rem reference */

html {
    font-size: 16px;
    padding: 0 1rem;
}

/* utilities */

.no-calt {
    font-feature-settings: "calt" 0;
}

.tnum {
    font-feature-settings: "ss02", "cv01", "tnum";
}

/* icons */

.chevron {
    height: 1rem;
    width: 1rem;
    background-color: black;
    -webkit-mask-image: $chevron-icon;
    mask-image: $chevron-icon;
}