@import "variables";

@import "@fontsource-variable/montserrat";
@import "@fontsource-variable/source-sans-3";

:root {
  font-family: "Source Sans 3 Variable", system-ui;
  // cv05, cv08: disambiguation; cv01: better "1"; cv10: better "G"
  font-feature-settings: "cv05", "cv08", "cv01", "cv10";
  padding: 0 1rem;
  font-size: 16px;
}

/* utilities */

:global(body) {
  font-size: 0.875rem;
}

:global(table) {
  border-collapse: collapse;

  :global(thead) {
    color: $grey-600;
    text-align: left;
    height: 2rem;

    :global(tr) {
      border-bottom: 1px solid $grey-100;

      :global(th) {
        font-weight: normal;
        padding: 0 1rem;
      }
    }
  }

  :global(tbody) {
    :global(tr) {
      height: 3rem;
      border-bottom: 1px solid $grey-100;

      &:hover {
        background-color: $grey-25;
      }

      :global(td) {
        padding: 0 1rem;
      }
    }
  }
}