@import "variables";

/* open-sans-latin-standard-normal */
@font-face {
  font-family: 'Open Sans Variable';
  font-style: normal;
  font-display: auto;
  font-weight: 300 800;
  font-stretch: 75% 100%;
  src: url(@fontsource-variable/open-sans/files/open-sans-latin-standard-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* montserrat-latin-wght-normal */
@font-face {
  font-family: 'Montserrat Variable';
  font-style: normal;
  font-display: auto;
  font-weight: 100 900;
  src: url(@fontsource-variable/montserrat/files/montserrat-latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  font-family: "Open Sans Variable", system-ui;
  // cv05, cv08: disambiguation; cv01: better "1"; cv10: better "G"
  font-feature-settings: "cv05", "cv08", "cv01", "cv10";
  padding: 0 1rem;
  font-size: 16px;
}

/* utilities */

:global(body) {
  font-size: 0.875rem;
}

:global(table) {
  border-collapse: collapse;
  overflow-x: auto;
  min-width: 1100px;

  :global(thead) {
    color: $grey-600;
    text-align: left;
    height: 2rem;

    :global(tr) {
      border-bottom: 1px solid $grey-100;

      :global(th) {
        font-weight: normal;
        padding: 0 1rem;
      }
    }
  }

  :global(tbody) {
    :global(tr) {
      height: 3rem;
      border-bottom: 1px solid $grey-100;

      &:hover {
        background-color: $grey-25;
      }

      :global(td) {
        padding: 0 1rem;
      }
    }
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

:global(.flash) {
  animation: flash 0.5s ease-out;
}