@use "../../node_modules/inter-ui/variable" as inter-variable with (
  $inter-font-display: swap,
  $inter-font-path: 'inter-ui/variable'
);

@import "variables";

@import "@fontsource-variable/montserrat";

@include inter-variable.all;

:root {
  font-family: "InterVariable", system-ui;
  // cv05, cv08: disambiguation; cv01: better "1"; cv10: better "G"
  font-feature-settings: "cv05", "cv08", "cv01", "cv10";
  padding: 0 1rem;
  font-size: 16px;
}

/* utilities */

// contextual alternates
// we don't want "x" shown as multiplication and other ligatures,
// but we might want better heights of some symbols.
:global(.no-calt) {
  font-feature-settings: "calt" 0;
}

// for all-numerical data, we want monospaced numbers
:global(.tnum) {
  font-feature-settings: "tnum";
}

:global(body) {
  font-size: 0.875rem;
}