/* global variables */

$grey-600: #656565;
$grey-400: #9e9e9e;
$grey-300: #bababa;
$grey-200: #d7d7d7;
$grey-100: #ebebeb;
$grey-50: #f5f5f5;
$grey-25: #f9f9f9;

$blue-500: #1da1f2;
$blue-50: #e8f6fe;

$red-500: #f44336;

$chevron-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M11.217 5.333 7.8 8.8 4.383 5.333 3.333 6.4 7.8 10.94l4.467-4.54-1.05-1.067Z'/%3E%3C/svg%3E");
$search-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%239E9E9E' d='m18.03 16.62 4.28 4.28-1.41 1.41-4.28-4.28a9 9 0 1 1 1.41-1.41Zm-2-.75a7 7 0 1 0-.15.15l.14-.14Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h24v24H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
$mono-logo: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 32 32'%3E%3Cpath fill='%23000' d='M26.31 32h5.33L20.98 0H10.67L0 32h10.31l1.78-5.33h7.11l-1.78-5.34h-3.55L18.3 8l8 24Z'/%3E%3C/svg%3E");
$alert-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 17 16'%3E%3Cpath fill='%23fff' d='m9.08 2 6.35 11a.67.67 0 0 1-.58 1H2.15a.67.67 0 0 1-.58-1L7.92 2a.67.67 0 0 1 1.16 0Zm-1.25 8.67V12h1.34v-1.33H7.83Zm0-4.67v3.33h1.34V6H7.83Z'/%3E%3C/svg%3E");

$first-page-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' d='M4.17 15.83V4.17H6.1v11.66H4.17Zm10.7 0L9.02 10l5.83-5.83 1.36 1.36L11.75 10l4.47 4.47-1.36 1.36Z'/%3E%3C/svg%3E");
$prev-page-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' d='m13.67 5.48-1.33-1.31-5.67 5.58 5.67 5.58 1.33-1.3-4.33-4.28 4.33-4.27Z'/%3E%3C/svg%3E");
$next-page-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' d='m8 4.17-1.33 1.3L11 9.76l-4.33 4.27L8 15.33l5.67-5.58L8 4.17Z'/%3E%3C/svg%3E");
$last-page-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' d='m5.53 15.83-1.36-1.36L8.64 10 4.17 5.53l1.36-1.36L11.36 10l-5.83 5.83Zm8.75 0V4.17h1.94v11.66h-1.94Z'/%3E%3C/svg%3E");

$block-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 32 32'%3E%3Cpath fill='%23000' d='M11.31 0 .34 10.98v20.69h20.69L32 20.69V0H11.31Zm1.38 3.33h13.62L19.65 10H6.03l6.66-6.67Zm-9.02 10h15v15h-15v-15ZM22 25.98V12.36l6.67-6.67v13.62L22 25.98Z'/%3E%3C/svg%3E");
$info-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cpath fill='%23656565' d='M8 14.67A6.67 6.67 0 1 1 8 1.33a6.67 6.67 0 0 1 0 13.34Zm0-1.34A5.33 5.33 0 1 0 8 2.67a5.33 5.33 0 0 0 0 10.66Zm-.67-8.66h1.34V6H7.33V4.67Zm0 2.66h1.34v4H7.33v-4Z'/%3E%3C/svg%3E ");